* {
    margin: 0;
    padding: 0;
    /* background-color:black; */
    box-sizing: border-box;
}
body{
    background-image: url('./mediamodifier-I3HPUolh5hA-unsplash.jpg');
    background-size: cover;
}
.container {
    width: 400px;
    height: 450px;
    background: #3d4543;
    position: absolute;
    top: 18vh;
    left: 35vw;
    border-radius: 15px;
    overflow: hidden;
}

.display {
    width: 330px;
    height: 60px;
    background: #222;
    margin: 35px;
}

.display input {
    position: relative;
    left: 5px;
    top: 2px;
    width: 320px;
    height: 55px;
    color:rgb(3, 14, 13);
    background-color: #bccd95;
    font-size: 21px;
    text-align: right;
    border:3px solid white;
    border-left:none;
    border-top:none;
    font-size: 30px;
    padding:0px;
}
.display input:focus{
    border: none;
}
.keypad {
    /* padding:10px; */
    margin: 0 30px;

}

.keypad button {
    width: 60px;
    height: 40px;
    border-radius: 12px;
    margin: 0 10px;
    font-size: 24px;
    /* border-bottom: 3px solid black; */
    box-shadow: 1px 4px 5px rgb(0, 0, 0);
    /* background-color: rgb(28, 12, 12); */
}

.keypad button:hover {
    border: 2px solid rgba(228, 232, 113, 0.3);
}

.keypad button:active {
    transform: scale(0.9);
}

.red-color {
    background-color: #ff4561;
    color: #000;
}

.yellow-color {
    
    background-color: #FF9933;
    color: #000;
    
    
}
.gray  
{  
color:white;  
background-color:#6f6f6f;  
border-bottom:black 2px solid;  
border-top:2px #6f6f6f solid;  
}  
.black  
{  
color:white;  
background-color:#303030;  
border-bottom:black 2px solid;  
border-top:2px 303030 solid;  
}  

@media (max-width:960px){
    .container {
        width: 400px;
        height: 450px;
        background: #3d4543;
        position: absolute;
        top: 18vh;
        left: 25vw;
        border-radius: 15px;
        overflow: hidden;
    }
}

@media (max-width:560px){
    .container {
        width: 350px;
        height: 400px;
        background: #3d4543;
        position: absolute;
        top: 18vh;
        left: 10vw;
        border-radius: 15px;
        overflow: hidden;
    }
    .display {
        width: 305px;
        height: 60px;
        background: #222;
        margin: 30px 20px;
    }
    
    .display input {
        position: relative;
        left: 5px;
        top: 2px;
        width: 300px;
        height: 55px;
        color:rgb(3, 14, 13);
        background-color: #bccd95;
        font-size: 21px;
        text-align: right;
        border:3px solid white;
        border-left:none;
        border-top:none;
        font-size: 30px;
        padding:0px;
    }
    .keypad {
        /* padding:10px; */
        margin: 0 20px;
    
    }
    
    .keypad button {
        width: 60px;
        height: 35px;
        border-radius: 12px;
        margin: 0 7px;
        font-size: 20px;
        /* border-bottom: 3px solid black; */
        box-shadow: 1px 4px 5px rgb(0, 0, 0);
        /* background-color: rgb(28, 12, 12); */
    }
    
}